.loader_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 20%;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --mask: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: loader 1s infinite linear;
}
@keyframes loader {to{transform: rotate(1turn)}}