@font-face {
  font-family: 'Major Mono Display';
  src: url(/src/styles/fonts/MajorMonoDisplay-Regular.ttf);
}

nav {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 10;
}

nav a {
  margin: 20px;
}

nav a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.navbar_logo {
  font-family: 'Major Mono Display', 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.nav_interactions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav_list {
  margin: 0;
  font-size: 1.3rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav_toggle {
  display: none;
}

@media screen and (max-width: 900px) {
  nav {
    background: var(--secondary);
  }

  .nav_list {
    display: none;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    top: 75px;
    height: 90vh;
    padding-top: 50px;
    background-image: url("/src/images/mobile-nav-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    justify-content: flex-start;
  }

  .open {
    display: flex;
  }

  .nav_toggle {
    display: block;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url("/src/images/burger-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}