:root {
  --primary: #2C3333;
  --secondary: #2E4F4F;
  --tertiary: #0E8388;
  --text: #CBE4DE;
}

@font-face {
  font-family: 'Source Sans';
  src: url(/src/styles/fonts/SourceSans3-VariableFont_wght.ttf);
}

body {
  margin: 0;
  background-color: var(--primary);
  color: var(--text);
  font-family: 'Source Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: var(--text);
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
